<div class="container team-page">
<!--       <div class="card-title">
        <h1>Meet our team</h1>
      </div> -->
  <div class="grid team-page-grid">
    <!-- CARD USER -->
    <div class="card-user">
      <div class="card-photo">
        <%= image_tag 'ana.jpg', size: "220x220", class: "profile-image" %>
      </div>
      <div class="name-field">
        <h3>Ana Ivan</h3>
        <p>Product Owner</p>
      </div>
      </div>

    <!-- CARD USER -->
    <div class="card-user">
      <div class="card-photo">
        <%= image_tag 'adline.jpg', size: "220x220", class: "profile-image" %>
      </div>
      <div class="name-field">
        <h3>Adline Isiji</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>
    <!-- CARD USER -->

    <div class="card-user">
      <div class="card-photo">
        <%= image_tag 'irene.jpg', size: "220x220", class: "profile-image" %>
      </div>
      <div class="name-field">
        <h3>Irene Jóna Smith</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>

    <!-- CARD USER -->
    <div class="card-user">
      <div class="card-photo">
        <%= image_tag 'janina.jpg', size: "220x220", class: "profile-image" %>
      </div>
      <div class="name-field">
        <h3>Janina Kokkonen</h3>
        <p>Full Stack Developer</p>
      </div>
    </div>


  </div>
</div>
