// Define variables for your color scheme

// For example:
$red: #AA001C;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #282627;
$white: #F7F7F7;
$light-gray: #F4F4F4;
$logo-green: #92D596;
$logo-yellow: #FFE16D;
$logo-turqoise: #BBEAE7;
$logo-blue: #343D83;
$logo-dark-blue: #35355E;
