// Define variables for your color scheme

// For example:
$red: #d01736;
$bubble-red: #DA5159;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$logo-green: #92D596;
$logo-yellow: #FFE16D;
$logo-turqoise: #BBEAE7;
$logo-blue: #343D83;
$logo-dark-blue: #35355E;
$fancy-blue:      #f1f7fe;
$big-text-blue:   #282E38;
$light-blue:      #ddedf5;
$eggshell:        #bee3e1;

$black: #282627;
$dark-gray: #62656a;
$dark-white: #F4F4F4;
$white: #F7F7F7;
$modal-white: #FFFFFF;
$bubble-yellow: #DDA847;
