<div class="banner" style="background-image: linear-gradient(0deg, rgba(255, 248, 184, 0.20) 50%, rgba(255, 251, 235, 0.48) 80%), url(/assets/bluesky.jpg)">
  <div class="banner-content">
  </div>
</div>
