<div class="banner" style="background-image: linear-gradient(0deg, rgba(255, 248, 184, 0.20) 50%, rgba(255, 251, 235, 0.48) 80%), url(/assets/palmbeach.jpg)">
  <div class="banner-content">
    <h1>Hakuna Matata</h1>
    <h3>The top platform for the world's most exclusive beaches</h3>
    <%= link_to "SEE OUR TOP LOCATIONS", beaches_path, class: "button-homepage" %>
  </div>
</div>
