<div class="container-fluid">
  <div class="banner">
    <div class="banner-text">
      <h1>Lorem ipsum dolor sit amet.</h1>
      <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <button type="button" class="btn button-banner" data-toggle="modal" data-target=".bs-example-modal-sm">SEND A FLARE</button>
          <%#= current_user.email %>
          <%= render "shared/modal" %>
    </div>
  </div>
</div>


