<div class="container-fluid">
  <div class="banner">
    <div class="banner-text">
      <h1 id="text-cto-h1">We are here for you.</h1>
      <h3 id="text-cto-h3">Get in touch with our trained volunteers.</h3>
          <button type="button" class="btn button-banner" data-toggle="modal" data-target=".bs-example-modal-sm">SEND A FLARE</button>
          <%= render "shared/modal" %>
    </div>
  </div>
</div>


