<div class="box">
  <div class="box-content">

    <!-- A B O U T  -->

      <div class="box-item">
        <p>ABOUT</p>
          <ul>
            <li><%= link_to 'Meet the team', meet_the_team_path  %></li>
            <li><a href="#">Our mission</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Website disclaimer</a></li>
          </ul>
      </div>

    <!-- G E T   I N V O L V E D -->

      <div class="box-item">
        <p>GET INVOLVED</p>
          <ul>
            <li><a href="#">Support us</a></li>
            <li><a href="#">Become a volunteer</a></li>
            <li><a href="#">Our Partners</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
      </div>

    <!-- E X P E R T -->

      <div class="box-item">
        <p>FIND AN EXPERT</p>
          <ul>
            <li><a href="#">Anxiety and Depression Association</a></li>
            <li><a href="#">Find a Therapist</a></li>
            <li><a href="#">Help for Mental Illnesses</a></li>
            <li><a href="#">Statistics</a></li>
          </ul>
      </div>

  </div>
</div>
