    <footer>
    <div class="box">
      <div class="box-content">
        <div class="box-item">
          <h5>ABOUT</h5>
          <ul>
            <li><a href="#">Meet the team</a></li>
            <li><a href="#">Our mission</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Website disclaimer</a></li>
          </ul>
        </div>
        <div class="box-item">
          <h5>GET INVOLVED</h5>
          <ul>
            <li><a href="#">Support us</a></li>
            <li><a href="#">Become a volunteer</a></li>
            <li><a href="#">Our Partners</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="box-item">
          <h5>FIND AN EXPERT</h5>
          <ul>
            <li><a href="#">Anxiety and Depression Association</a></li>
            <li><a href="#">Find a Therapist</a></li>
            <li><a href="#">Help for Mental Illnesses</a></li>
            <li><a href="#">Statistics</a></li>
          </ul>
        </div>
      </div>
      </div>
</footer>
