<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <h2>Hello, Friend</h2>
      <p>We'll get back to you shortly.</p>
      <p>While you wait you could sign up or log in if you would like to share information about yourself.</p>
      <button type="button" class="btn btn-default">Sign up</button>
    </div>
  </div>
</div>
