<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <h2>Hello, Friend</h2>
      <input type="text" class="form-control" placeholder="What's your username?">
      <button type="button" class="btn btn-modal">Submit</button>
      <% if user_signed_in? %>
        <div class="sign_in_link">
          <%= link_to("Login", "/users/sign_in") %>
        </div>
      <% end %>
    </div>
  </div>
</div>


