<!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <h2>Hello, Friend</h2>
      <p>What's your name?</p>
      <input type="text" class="form-control" placeholder="Your name">
      <button type="button" class="btn btn-modal">Continue anonymously</button>
    </div>
  </div>
</div>

