<div class="box" style="background-color: #fff;">
  <div class="box-item">
    <div class="text-item">
        <h3>Download our app</h3>
        <p>Over 150,000 volunteers. Here for you at the press of a button.</p>
    </div>

    <div class="image-item">
      <div class="item">
        <%= image_tag 'apple.png', width: 200 %>
        </div>
        <div class="item">
        <%= image_tag 'google.png', width: 200 %>
        </div>
    </div>
  </div>

    <div class="box-item">
      <%= image_tag 'iphone.png' %>
    </div>
  </div>
