  <div class="row" style="background-color: #FFF;">
    <div class="col-md-6">
      <div id="left-text">
        <h3><strong>FLARE</strong> is also available on mobile.</h3>
        <p>You can get in touch with over 150,000 trained volunteers ready to assist you when you are experiencing panic attacks or difficult thoughts.</p>
        <p>You do not need to go though it alone.</br>We are here for you.</p>
        <p>We are here to teach you how to cope.</p>
        <div class="row" style="margin-top: 20px;">
          <%= image_tag 'apple.png', width: 150, class: 'download-apple' %>
          <%= image_tag 'google.png', width: 150, class: 'download-google'%>
        </div>
      </div>
    </div>
    <div class="col-md-6 phone">
      <%= image_tag 'iphone.png' %>
    </div>
  </div>

