<div class="thirdbanner">
        <div class= "banner-third-header">
          <h3>HOW IT WORKS</h3>
        </div>
        <hr class="style-eight">
    <div class="thirdbanner-container-fluid">
      <div class="row text-center">
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="banner-header">
              <h3>Get in touch</h3>
              <p>You do not need an account to contact us! Reach out to one of our trained volunteers now. You can chat with us via our web or mobile app. This is your safe space.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-heart"></i>
            </div>
            <div class="banner-header">
              <h3>Connection</h3>
              <p>If you are experiencing a panic attack or intrusive thoughts of self-harm, we are here to make sure you do not go through this alone and teach you how to deal with this in the future. </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class= "far fa-smile"></i>
            </div>
            <div class="banner-header">
              <h3>Solution</h3>
              <p>Whether you need someone to talk to, or need to be referred to specialized centers, we will make sure understand the neccessary steps you need to take towards getting better.</p>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
