<div class="thirdbanner">
        <div class= "banner-third-header">
          <h2>H0W IT WORKS</h2>
        </div>
        <hr class="style-eight">
    <div class="thirdbanner-container-fluid">
      <div class="row text-center">
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="banner-header">
              <h2>Get In-Touch</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-heart"></i>
            </div>
            <div class="banner-header">
              <h2>Connection</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class= "far fa-smile"></i>
            </div>
            <div class="banner-header">
              <h2>Solution</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
