<div class="container-fluid">
    <div class="banner bg-fancy-blue">
      <div class="banner-container">
        <div class="row">
        <div class="banner-text .col-md-4 align-self-center">
          <h1>Lorem ipsum dolor sit amet.</h1>
          <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
          <%= link_to(chats_path, method: :post) do  %>
<button type="button" class="btn button-banner" data-toggle="modal" data-target=".bs-example-modal-sm">SEND A FLARE</button>
<% end %>
        </div>
      </div>
    </div>
  </div>
</div>
