<div class="thirdbanner">
        <div class= "banner-third-header">
          <h3>HOW IT WORKS</h3>
        </div>
        <hr class="style-eight">
    <div class="thirdbanner-container-fluid">
      <div class="row text-center">
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-mobile-alt"></i>
            </div>
            <div class="banner-header">
              <h3>Get in touch</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum quisquam in nulla temporibus culpa porro laborum, iusto qui incidunt omnis blanditiis! Repellat quia optio delectus voluptatum quo ad, totam officiis.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class="fas fa-heart"></i>
            </div>
            <div class="banner-header">
              <h3>Connection</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, aperiam ipsam maiores sunt possimus rerum perspiciatis ducimus ipsa, officia qui. Sint, est vitae magnam ut numquam eum ipsam.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="banner-content">
            <div class="card-icon">
              <i class= "far fa-smile"></i>
            </div>
            <div class="banner-header">
              <h3>Solution</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam unde quas maxime quasi vel, voluptas, corporis iure eveniet necessitatibus voluptatem sed, praesentium aut magni minus.</p>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>
