<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Button trigger small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Send a flare</button>

<%= render 'shared/modal' %>


<% Chat.all.each do |chat| %>
  <%= link_to "Chat Room #{chat.id}", chat_path(chat)  %>
<% end %>
