<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!-- Button trigger small modal -->
<%= link_to(chats_path, method: :post) do  %>
<button type="button" class="btn" data-toggle="modal" data-target=".bs-example-modal-sm">Send a flare</button>
<% end %>

<!-- data-toggle="modal" -->
