/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  top: 70px;
  width: 100vw;
  text-align: center;
  color: white;
}
.alert-info {
  background: rgba(92, 162, 69, 0.6);
}
.alert-warning {
  background: $red;
}
