section {
  padding: 100px 0px;
}

.banner {
  color: white;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 70px;
}

.bg-fancy-blue {
  background-color: $fancy-blue;
}

#hero {
  background-color: #f6f8f9;
}

#hero h1 {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 500;
  color: $big-text-blue;
}

#hero h3 {
  font-family: "Open Sans";
  font-weight: bold;
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: $big-text-blue;
}

// h1 {
//   font-family: "Open Sans";
//   font-size: 50px;
//   font-weight: 500;
//   color: $big-text-blue;
// }

// h3 {
//   font-family: "Open Sans";
//   font-weight: bold;
//   margin-bottom: 50px;
//   letter-spacing: 2px;
//   color: $big-text-blue;

// }

p {
    font-size: 25px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
    color: #969696;
}
