.banner {
  color: white;
  text-align: center;
  height: 80vh;
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.bg-fancy-blue {
  background-color: $fancy-blue;
}


h1 {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 500;
  color: $big-text-blue;
}

h3 {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  text-shadow: -1px -1px 10px rgba(150, 150, 150, 1);
  margin-bottom: 50px;
  letter-spacing: 2px;
  color: $big-text-blue;

}

p {
    font-size: 25px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
    color: #969696;
}
