.btn {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 0px 20px;
  border: 0.5px solid $big-text-blue;
  padding: 6px 12px 8px 12px;
  text-decoration: none;
  color: $big-text-blue;
  background-color: $light-blue;
    &:hover {
    background-color: $big-text-blue;
    color: $white;
  }
}

.button-banner {
    font-family: "Open Sans";
    font-size: 25px;
    letter-spacing: 5px;
    margin-left: 0px;
    margin-right: 0px;
    border: 2px solid $bubble-red;
    padding: 25px 70px;
    text-decoration: none;
    color: $bubble-red;
    background-color: $modal-white;
    -webkit-box-shadow: 7px 5px 47px -22px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 47px -22px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 47px -22px rgba(0,0,0,0.75);
    transition: 0.5s ease all;
    &:hover {
    text-decoration: none;
    color: $white;
    background-color: $bubble-red;
  }
}

.btn-login {
  width: 100%;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px !important;
  letter-spacing: 1px;
  margin: 30px 0px;
  border: 0.5px solid $big-text-blue;
  padding: 6px 12px 8px 12px;
  text-decoration: none;
  background:transparent;
    &:hover {
    background-color: $big-text-blue;
    color: $white;
  }
}

.btn-modal {
  color: white;
  font-size: 14px !important;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300 !important;
  margin: 30px 0px;
  padding: 6px 12px 8px 12px;
  border: 1px solid $white;
  background: transparent;
  &:hover {
    background-color: rgba(247,247,257,0.85);
    color: rgba(208,23,54,0.5);
  }
}

