.dashboard-container {
  margin: 100px auto 0 auto;
  display: flex;
  height: calc(75vh - 100px);
  width: 70%;
}
#chat-list {
  list-style: none;
  font-size: 22px;
  text-decoration: none;
  padding-left: 0;
  a:hover {
    text-decoration: none;
    color: $gray;
  }
}
#edit_profile_info {
  color: $gray;
  &:hover {
    color: $logo-dark-blue;
    text-decoration: none;
  }
}
body {
  background-image: linear-gradient(to left bottom, rgba(15, 141, 168, 0.3), rgba(100, 146, 195, 0.4), rgba(165, 148, 200, 0.3), rgba(212, 153, 186, 0.4), rgba(236, 167, 167, 0.3))
}

#monkeypants {
  display: none;
}
.monkeypants {
  display: none;
}
