.box {
  height: 250px;
  background-color: $white;
  padding-top: 50px;
  padding-bottom: 200px;
}

.box-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-item {
  color: $black;
  p {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  a {
    font-size: 16px;
    font-weight: 300;
    color: $gray-base;
    text-align: justify;
    padding: 0px;
    width: 300px;
  }
    a:hover {
      color: $red;
      text-decoration: none;
    }
  li {
    list-style: none;
  }
  i {
    font-size: 25px;
    color: $gray-base;
    margin-right: 10px;
  }
    i:hover {
      color: $red;
    }
}






