.sign_in_form {
  height: 75vh;
  padding: 20px 30px;

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px $white inset!important;
  }
  .form-control-label, .form-check-label {
    font-size: 14px;
    letter-spacing: 1px;
    color: $white;
  }
  .form-control-label {
    padding-top: 15px;
  }
  .form-check-label {
    padding-top: 7.5px;
  }
  input[type="checkbox"] {
  margin-right: 5px;
  }
  a {
    font-size: 14px;
    color: $white;
  }
  .form-text {
    color: $white;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.5px;
  }
}
.wrapper h3 {
    color: $white;
    padding-top: 120px;
    margin-top: 0;
    letter-spacing: 1px;
    text-align: center;
  }
.btn-login {
  color: $white;
  border: 0.5px solid $white;
  background-color: transparent;
  &:hover {
    color: $dark-gray;
    background-color: $white;
  }
}




