.chat-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 750px;
}


.messages {
  width: 50%;
  font-size: 14px;
  background-color: #FCFCFC;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 0;
  height: 100vh;
  overflow: scroll;
  margin-top: 80px;
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
}

.send-button {
  font-family: "Hind";
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  padding: 6px 10px 5px 10px;
  font-weight: 600;
  border-left: none !important;
  color: #257cc5;
}

#new_message {
  height: 30px;
}

#message_content {
  margin-right: -3px;
  height: 35px;
  padding: -20px;
  border: 1px solid rgba(0, 0, 0, 0.3);;
  border-right: none !important;
}

.message {
  display: flex;
  margin: 10px;
  padding: 10px 0px;
      .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin: -20px -20px;
      border-radius: 50%;
      z-index: 1;
      filter: brightness(1.2);
      border: 1px solid white;
    }
  &.right {
    flex-direction: row-reverse;
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      filter: brightness(1.2);
      border: 1px solid white;
    }
    .message-content {
    background-color: #6399b9;
    padding: 10px;
    word-break: break-all;
    color: white;
    padding: 10px;
    margin: 0px 0px;
    position: relative;
    border-radius: 2px;
    box-shadow: 3px 10px 47px -12px rgba(137,174,214,1);
}
}
.message-content {
  background-color: #9a9e9e;
  padding: 10px;
  word-break: break-all;
  color: white;
  margin: 0px 10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 3px 10px 47px -12px rgba(137,174,214,1);
}
}

#create-message {
    width: 50%;
    padding: 10px;
    background-color: #FCFCFC;
    margin-bottom: 20px;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.toto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.form-control {
  margin: 0px;
  width: 100%;
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  background-color: #FCFCFC;
  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);;
    box-shadow: none;
  }
}
// .chat-header {
//   background-color: #4F2F4C;
//   color: white;
//   padding: 10px 20px;
//   margin-top: 100px;
//   h4 {
//     margin: 0;
//   }
// }

.form-group {
  margin: 0px;
}
