.chat-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 750px;
  background-image: url('chat-window.jpg');
  background-size: cover;
}


.messages {
  width: 50%;
  border-radius: 15px 15px 0px 0px;
  font-size: 14px;
  background-color: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom-width: 0;
  height: 85vh;
  overflow: scroll;
  position: relative;
  z-index: 0;
  .chat-header {
    background-color: #DA5159;
    color: $white;
    width: 100%;
    margin-bottom: 25px;
    position: inherit;
    z-index: 100;
    font-family: "Hind";
    font-weight: 500;
    height: 50px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      max-width: 80%;
      margin: 0px !important;
      font-family: "Hind" !important;
      padding-left: 15px;
    }
    i {
      margin-top: 5px;
      margin-left: 414px;
      color: $white;
      padding-right: 15px;
    }
  }
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
}

.send-button {
  font-family: "Hind";
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  padding: 6px 10px 5px 10px;
  font-weight: 600;
  border-left: none !important;
  color: #DA5159;
  margin-right: 3px;
  margin-bottom: 6px;
  border-radius: 0px 10px 10px 0px;
}

#new_message {
  height: 30px;
}

#message_content {
  margin-right: -3px;
  height: 35px;
  padding: -20px;
  border: 1px solid rgba(0, 0, 0, 0.3);;
  border-right: none !important;
  margin-left: 3px;
  margin-bottom: 6px;
  border-radius: 10px 0px 0px 10px;
}

.message {
  display: flex;
  margin: 10px;
  padding: 5px 20px;
      .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      margin: -20px -20px;
      border-radius: 50%;
      z-index: 1;
      filter: brightness(1.2);
      border: 1px solid $white;
    }
  &.right {
    flex-direction: row-reverse;
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      filter: brightness(1.2);
      border: 1px solid $white;
    }
    .message-content {
    background-color: #DA5159;
    word-break: break-all;
    color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 10px 47px -12px rgba(137,174,214,1);
}
}
.message-content {
  background-color: #DDA847;
  padding: 10px;
  word-break: break-all;
  color: white;
  margin: 0px 10px;
  position: relative;
  border-radius: 10px;
  box-shadow: 3px 10px 47px -12px rgba(137,174,214,1);
}
}

#create-message {
    width: 50%;
    padding: 8px 5px;
    background-color: #FCFCFC;
    border-top: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px 0px 15px 15px ;

}

.toto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.form-control {
  margin: 0px;
  width: 100%;
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  background-color: #FCFCFC;
  &:focus {
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);;
    box-shadow: none;
  }
}

.form-group {
  margin: 0px;
}
.refresh-chat-banner {
  display: none;
}
