.chat-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 750px;
  margin-bottom: 100px;
}


.messages {
  width: 50%;
  font-size: 14px;
  color: #868686;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid black;
  border-bottom-width: 0;
  height: 100vh;
  overflow: scroll;
  margin-top: 100px;
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
}

.send-button {
  background-color: $eggshell;
  font-family: "Open Sans";
  font-size: 16px;
  border-radius: 0px 3px 3px 0px;
  border: 1px solid black;
  border-left: none;
}

#new_message {
  height: 30px;
}

#message_content {
  margin-right: -3px;
  height: 27px;
  padding: -20px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid black;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .avatar {
      width: 42px;
      height: 42px;
      border-radius: 50%;
    }
    .message-content {
      background-color: #F2F9FC;
    }
  }
}
.message-content {
  background-color: #F7F7F7;
  border-radius: 3px;
  margin: 0 10px;
  padding: 11px 10px 8px 10px;
  word-break: break-all;

}

#create-message {
  width: 50%;
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid black;
}

.toto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.form-control {
  margin: 0px;
  width: 100%;
  border: 1px solid #ECECEC;
  box-shadow: none;
  font-size: 14px;
  color: #868686;
  &:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: none;
  }
}
.chat-header {
  background-color: #4F2F4C;
  color: white;
  padding: 10px 20px;
  margin-top: 100px;
  h4 {
    margin: 0;
  }
}

.form-group {
  margin: 0px;
}
