.fade {
  background-color: rgba(247, 247, 247, 0.5) !important;
}

.modal-content {
  background-color: rgb(255,255,255) !important;
  padding: 40px 35px 65px 35px;
  // display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $logo-blue;
  vertical-align: middle;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  h2 {
    margin-top: 12.5px;
  }
}

.modal-dialog {
  display: table;
  width: 20%;
  top: 20%;
}

.form-control {
  margin-bottom: 25px;
}

.btn-modal {
  text-transform: uppercase;
}

.sign_in_link a {
  font-size: 14px;
  color: $logo-blue !important;
  opacity: 0.4;
  position: absolute;
  right: 15px;
  bottom: 15px;
}
