.modal {
  border-radius: 3px
}
.modal-dialog {
  display: table;
  width: 20%;
}

.modal-content {
  padding: 45px 35px 65px 35px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: $logo-blue;
  vertical-align: middle;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.form-control {
  margin-bottom: 25px;
}
.btn-modal {
  text-transform: uppercase;
}



