.col-md-6 {
  width: 50%;
  height: 80vh;
  text-align: center;
  &.phone {
    padding-top: 100px;
  }
}

#left-text {
  text-align: center;
  margin: 20% 10%;
  padding-top: 100px;
  h1 {
    padding-bottom: 20px;
  }
  p {
    padding-bottom: 40px;
    padding-top: 30px;
  }
}

.download-apple {
  padding-right: 15px;
}

.download-google {
  padding-left: 15px;
}
