.thirdbanner {
  text-align: center;
  -webkit-box-shadow: inset 0px -100px 81px -30px rgba(255,255,255,1);
  -moz-box-shadow: inset 0px -100px 81px -30px rgba(255,255,255,1);
  box-shadow: inset 0px -100px 81px -30px rgba(255,255,255,1);
  background-color: $modal-white;
  padding-top: 200px;
}

.banner-header p {
    font-size: 15px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
    color: $black;
    text-align:center;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.banner-third-header {
    font-size: 18px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
    color:  $black;
    text-align:center;
    margin: 50px;
    h2 {
    margin: 30px;
    padding:20px;
  }
}

.card-icon i {
  font-size: 52px;
  color: #edcbcb;
  cursor: pointer;
}

.thirdbanner-container-fluid {
  padding: 150px;
  background-color: $modal-white;
  border-radius:20px;
  margin-right:20px;
  margin-left:20px;
}

hr.style-eight {
  overflow: visible;
  padding-top:0;
  border: none;
  border-top: medium double $black;
  color: $black;
  text-align: center;
  margin-right: 600px;
  margin-left: 600px;
  margin-bottom:20px;
}

hr.style-eight:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: $modal-white;
}
