.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;


  h1 {
    font-family: "Sacramento", cursive;
    font-size: 130px;
    font-weight: bold;
    text-shadow: -1px -1px 10px rgba(150, 150, 150, 1);
    margin-top: 130px;
    margin-bottom: 115px;
  }

h3 {
  font-family: "Open Sans Condensed";
  font-weight: bold;
  text-shadow: -1px -1px 10px rgba(150, 150, 150, 1);
  margin-bottom: 50px;
  letter-spacing: 2px;

}

p {
    font-size: 25px;
    font-weight: bolder;
    color:rgb(255, 255, 255);
    opacity: 0.6;
    margin-bottom: 30px;
  }
}
